%table.table
  %thead
    %tr
      - User.column_names.each do |column|
        %th
          = link_to column, sort: column, remote: true
  %tbody
    - @users.each do |user|
      %tr
        - user.attributes.each do |u|
          %td
            = u[1]

